.skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 4px;
}

.skill-item {
  background: #e2e8f0;
  padding: 10px 20px;
  border-radius: 20px;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  font-weight: 600;
  color: #061f41;
  border: 1px solid #d4d7dd;
}

.btn-remove {
  background: #f1efef;
  color: #bb4040;
  font-weight: bold;
  border: none;
  padding: 8px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 13.5px;
}

.btn-remove:hover {
  background: #fecaca;
}